@{
    ViewData["Title"] = "Home Page";
}

<h2>Sample npm</h2>

<p>Projekt demonstracyjny pokazujący sposób podłączenia menagera pakietów npm do projektów ASP.Net Core.</p>  
<i class="flag-icon flag-icon-pl"></i>